#sec2{
    margin-left: 400px;
    margin-top: 0px;
    

}
.sec1{
 width: 20%;
 
}

#itemnum{
    width:500px;
    padding:10px;
    background-color: lightgrey ;

}
#Keywords{
    width:300px;
    height:35px;
    border-radius: 7px;
    background-color: lightgray;
}
#exclude{
    width:300px;
    height:35px;
    border-radius: 7px;
    background-color: lightgray;  
}

#category{
    width:300px;
    height:35px;  
    border-radius: 7px;
    background-color: lightgray;  
    
}
button{
    width:100px;
    height: 30px;
    padding: 3px;
    border-radius: 20px;
   background-color:blue;
   color:white;
   margin-right: 10px;
}
#price{
    width:150px;
    height:25px;
    padding: 3px;
    border-radius: 7px;
    background-color: lightgray;

}
#show{
    width:150px;
    height:30px;
    padding: 5px;
    border-radius: 7px;
    background-color: lightgray;
}
#Location{
    width:200px;
    height:30px;
    padding: 3px;
    border-radius: 7px;
    background-color: lightgray;
}
#seller{

    width:200px;
    height:30px;
    padding: 3px;
    border-radius: 7px;
    background-color: lightgray;
    margin-right: 10px;

}

#sortby{
    width:200px;
    height:30px;
    padding: 3px;
    border-radius: 7px;
    background-color: lightgray;
}